<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/vehicle-add.css}"/>

    <title>Save Coefficient</title>
</head>

<body>

<div class="container">

    <h3>Coefficient Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Coefficient</p>

    <form action="#" th:action="@{/coefficients/save/}"
          th:object="${coefficient}" method="POST">
        <input type="hidden" th:field="*{id}" />

        <p>Group Name</p>
        <input type="text" th:field="*{groupId}"
               class="form-control mb-4 col-2" placeholder="groupId" th:errorclass="error-input">
        <span class="error" th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}"></span>

        <p>Name</p>
        <input type="text" th:field="*{name}"
               class="form-control mb-4 col-2" placeholder="name" th:errorclass="error-input">
        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

        <p>Display Name</p>
        <input type="text" th:field="*{displayName}"
               class="form-control mb-4 col-2" placeholder="Display Name" th:errorclass="error-input">
        <span class="error" th:if="${#fields.hasErrors('displayName')}" th:errors="*{displayName}"></span>

        <p>Data Type</p>
        <input type="text" th:field="*{dataValue}"
               class="form-control mb-4 col-2" placeholder="Data Value" th:errorclass="error-input">
        <span class="error" th:if="${#fields.hasErrors('dataValue')}" th:errors="*{dataValue}"></span>


        <button type="submit" class="btn btn btn-primary btn-condensed col-2">Save</button>
    </form>

    <hr>
    <a th:href="@{/coefficients/group/findall}">Back to Coefficients Group List</a>

</div>
</body>

</html>
